 * {
 	box-sizing: border-box;
 }
 
body {
	font-family: Tahoma, sans-serif;
	line-height: 1.5;
	color: #333333;
}

.header-text {
	text-align: center;
	font-size: 24px;	
}

.header-text span {
	font-weight: 300;
	display: block;
}

.header-text strong {
	font-weight: 900;
	text-transform: uppercase;
}

.header {
	margin-top: 80px;
}

.header-info {
	text-align: center;
	margin-top: 80px;
}

.video, .form {
	display: inline-block;
	vertical-align: top;
}

.form {
	margin-left: 30px;
	text-align: center;
	padding: 20px;
	border: 5px solid #2727d9;
}

.form input {
	width: 300px;
	margin-top: 10px;
	padding: 17px;
	font-style: 18px;
	border: 1px solid #333333;
	margin: 21px;
	display: block;
}

.form-header {
	text-align: center;
	margin-bottom: 20px;
	font-style: 20px;
	font-weight: 900;
}

.btn {
	font-size: 18px;
	font-weight: 900;
	color: #fff;
	background-color: #2727d9;
	border: none;
	width: 300px;
	height: 60px;
	margin-top: 10px;
}

.col {
	display: inline-block;
	text-align: center;
	margin: 50px ;
}

.feature-header {
	text-align: center;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 24px;
}

.feature {
	text-align: center;
	margin-top: 60px;
}

.button {
	margin-top: 20px;
	text-align: center;
}

.footer-text {
	margin-top: 80px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 24px;
}

.footer-img {
	margin-top: 50px;
	text-align: center;
}

.block-1 img {	
	text-align: center;
	margin: 25px ;
}

.block-2 img {	
	text-align: center;
	margin: 25px ;
}