 * {
 	box-sizing: border-box;
 }
 
body {
	font-family: Tahoma, sans-serif;
	color: #333333;
}

.header {
	line-height: 1.5;
	font-size: 20px;
	margin: 60px auto;
}

.section {
	padding: 30px 0;
}
.header span {
	display: block;
}
.form-header, .section-header {
	font-size: 20px;
	font-weight: 900;
	margin-bottom: 25px;
}

.form {
	border: 5px solid blue;
	padding: 35px 20px;
}

.form-btn {
	margin: 10px auto;
}

.form input {
	margin-bottom: 12px;
}

.feature {
	margin: 60px auto;
}

.feature p {
	margin-top: 20px;
}

.video {
	margin-bottom: 30px;
}

.feature-box {
	height: 150px;
}

.photo img {
	margin: 20px auto;
}